<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper 인터페이스와 동일한 이름(대소문자도 일치)의 xml을 작성 -->
<mapper namespace="org.project.springsecurityex.mapper.MemberMapper">
    <select id="findAll" resultType="org.project.springsecurityex.domain.MemberVO">
        select * from member;
    </select>

    <select id="findById" resultType="org.project.springsecurityex.domain.MemberVO">
        select * from member where mID = #{mID}
    </select>

    <insert id="insert" parameterType="org.project.springsecurityex.domain.MemberVO">
        insert into member(mID, mPassword, mName, mRole) values(#{mID}, #{mPassword}, #{mName}, #{mRole})
    </insert>

    <update id="update" parameterType="org.project.springsecurityex.domain.MemberVO">
        update member set mPassword = #{mPassword}, mName = #{mName} where mID = #{mID}
    </update>

    <delete id="delete" parameterType="string">
        delete from member where mID = #{mID}
    </delete>
</mapper>